<form method="GET" action="{% url 'search:query' %}" class="d-flex">
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    name="q"
    value="{{request.GET.q}}"
  />
  <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
