{% if address_qs.exists %}

<form action="{{action_url}}" method="POST">
    {% csrf_token %}
    {% if next_url %}
    <input type="hidden" name="next" value="{{next_url}}">
    {% endif %}

    {% if address_type %}
    <input type="hidden" name="address_type" value="{{address_type}}">
    {% endif %}

    {% for address in address_qs  %}
    <label for="address-{{address.id}}">
        <input type="radio" id="address-{{address.id}}" name="shipping_address" value="{{address.id}}" />
        {{address.address_line_1}}
    </label><br>
    {% endfor %}
    <button type="submit" class="btn btn-success">Use Address</button>
</form>

{% endif %}