{% url 'cart:home' as cart_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-info mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">eCommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item  {% if request.path == logout_url %}active{% endif %}">
          <a class="nav-link" href="{{logout_url}}">Logout</a>
        </li>


        {% else %}
        <li class="nav-item  {% if request.path == login_url %}active{% endif %}">
          <a class="nav-link" href="{{login_url}}">Login</a>
        </li>

        <li class="nav-item  {% if request.path == register_url %}active{% endif %}">
          <a class="nav-link" href="{{register_url}}">Register</a>
        </li>

        {% endif %}
        <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
          <a class="nav-link" href="{{cart_url}}">
            <i class="fas fa-shopping-cart"></i>
            <span class="navbar-cart-count">{{request.session.cart_items}}</span>

          </a>
        </li>
      </ul>
      {% include 'search/templates/search/snippets/search-form.html' %}
    </div>
  </div>
</nav>