 <form method="POST" action="{% if action_url %}{{action_url}}{% else %}{% url 'login' %}{% endif %}">
     {% csrf_token %}
     {% if next_url %}
     <input type="hidden" name="next" value="{{next_url}}" />
     {% endif %}
     {{form}}
     <button type="submit" class="btn btn-success">Submit</button>
 </form>