{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if not billing_profile %}
    <div class="row text-center">
        <div class="col-12 col-md-6">
            <p class="lead"> Login </p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class="col-12 col-md-6">
            <p class="lead"> Continue as Guest </p>
            {% url 'guest_register' as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    </div>

    {% else %}

    {% if not object.shipping_address %}

    <div class="row">
        <div class="col-12">
            <p class="lead">Shipping Address</p>
            <hr />
        </div>
        <div class="col-6">
            {% url 'checkout_address_create' as checkout_address_create %}
            {% include 'address/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
        </div>

        <div class="col-6">
            {% url 'checkout_address_reuse' as checkout_address_reuse %}
            {% include 'address/prev_address.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
        </div>
    </div>
</div>
</div>

{% elif not object.billing_address %}
<div class="row">
    <div class="col-12">
        <p class="lead">Billing Address</p>
        <hr />
    </div>

    <div class="col-6">
        {% url 'checkout_address_create' as checkout_address_create %}
        {% include 'address/form.html' with form=address_form next_url=request.build_absolute_uri  action_url=checkout_address_create address_type='billing' %}
    </div>
    <div class="col-6">
        {% url 'checkout_address_reuse' as checkout_address_reuse %}
        {% include 'address/prev_address.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse  %}
    </div>
</div>


{% else %}
<h1>Finalize Checkout</h1>

<p>Cart total: {{object.cart.total}}</p>
<p>Shipping total: {{object.shipping_total}}</p>
<p>Order total: {{object.total}}</p>
<form class="form" action="" method='POST'>
    {% csrf_token %}

    <button class="btn btn-success" type='submit'>Finish</button>
</form>


{% endif %}
{% endif %}

</div>
{% endblock %}