{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Cart</h1>


  {% if cart.products.exists %}

  <table class="table cart-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product name</th>
        <th scope="col">Product price</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="cart-body">

      {% for product in cart.products.all %}
      <tr class='cart-product'>
        <th scope="row">{{forloop.counter}}</th>
        <td>
          <a href="{{product.get_absolute_url}}"> {{product.title}}</a>
        </td>
        <td>{{product.price}}</td>
        <td>
          <a href="{{product.get_absolute_url}}"></a>
          {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
        </td>
      </tr>
      {% endfor %}

      <tr>
        <td colspan="3"></td>
        <td><b>Subtotal</b>R$<span class="cart-subtotal">{{cart.subtotal}}</span></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td><b>Total</b>R$<span class="cart-total">{{cart.total}}</span></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td>
          <a class="btn btn-block btn-success" href="{% url 'cart:checkout' %}">Checkout</a>
        </td>
      </tr>
    </tbody>
  </table>

  {% else %}

  <p class="lead">Cart is empty</p>

  {% endif %}
</div>

{% endblock %}