{% extends 'base.html' %} {% block title %} Livro - {{object.title}} 
{% endblock%} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{object.title}}</h1>
      {{object.created_at|timesince}} {{object.description|linebreaks}} <br />
      {% if object.image %}
      <img src="{{object.image.url}}" class="img-fluid" />
      {% endif %}
    </div>

    <div class="col-12 col-md-6">
      {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
  </div>
</div>

{% endblock content %}
