{% extends 'base.html' %}

<div class="container">
  {% block content %}

  <form method="POST">
    {% csrf_token %} {{form}}

    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  {% endblock %}
</div>