{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    {% if query %}
    <div class="col-12 mb-3 mt-3">
      Results for <b>{{query}}</b>
      <hr />
    </div>

    {% else %}

    <div class="col-12 col-md-8 mx-auto mt-3 mb-3">
      {% include 'search/templates/search/snippets/search-form.html' %}
    </div>

    {% endif %}
  </div>

  <div class="row">
    {% for obj in object_list %}
    <div class="col">
      {% include 'products/snippets/card.html' with instance=obj %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
