<div class="card" style="width: 18rem">
  {% if instance.image %}
  <img src="{{instance.image.url}}" class="card-img-top" alt="..." />
  {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{instance.title}}</h5>
    <p class="card-text">{{instance.description|truncatewords:14}}</p>
    <a href="{{instance.get_absolute_url}}" class="btn btn-primary">View</a>
    <a href="{% url 'detail' slug=instance.slug %}" class="btn btn-warning"
      >URL Shotcut</a
    >
  </div>
</div>
